@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;

  src: local(""),
  url("../public/Assets/Fonts/inter-v12-latin-regular.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../public/Assets/Fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  src: local(""), url("../public/Assets/Fonts/inter-v12-latin-regular.woff2") format("woff2"),
  url("../public/Assets/Fonts/inter-v12-latin-regular.woff") format("woff");

}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;

  src: local(""),
  url("../public/Assets/Fonts/inter-v12-latin-500.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../public/Assets/Fonts/inter-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  src: local(""), url("../public/Assets/Fonts/inter-v12-latin-500.woff2") format("woff2"),
  url("../public/Assets/Fonts/inter-v12-latin-500.woff") format("woff");

}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;

  src: local(""),
  url("../public/Assets/Fonts/inter-v12-latin-700.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../public/Assets/Fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  src: local(""), url("../public/Assets/Fonts/inter-v12-latin-700.woff2") format("woff2"),
  url("../public/Assets/Fonts/inter-v12-latin-700.woff") format("woff");

}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fff;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* img{
  width: auto;
  height: auto;
} */

#input-searching {
  background-image: url("../public/Assets/Images/HeaderAndHeroImg/searching.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: calc(50% - 107px);
}

.hero-bg {
  width: 571px;
  height: 319px;
}

.items-lang:nth-child(1) {
  background-image: url("../public/Assets/Images/HeaderAndHeroImg/uzb-flag.svg");
  background-repeat: no-repeat;
  background-size: 28px 20px;
  background-position-x: 10px;
  background-position-y: 13px;
}

.items-lang:nth-child(2) {
  background-image: url("../public/Assets/Images/HeaderAndHeroImg/usa-flag.svg");
  background-repeat: no-repeat;
  background-size: 28px 20px;
  background-position-x: 10px;
  background-position-y: 8px;
}

.items-lang:nth-child(3) {
  background-image: url("../public/Assets/Images/HeaderAndHeroImg/russia-flag.svg");
  background-repeat: no-repeat;
  background-size: 28px 20px;
  background-position-x: 11px;
  background-position-y: 2px;
}

#dropdown:hover .category-list {
  transform: translateY(12px);
  width: 210px;
  height: auto;
  opacity: 1;
}

#dropdown:hover .drop-img {
  transform: rotate(-180deg);
}
.rightSide:active > .rightSideTurn > path {
  color: #fff;
}
/* ----- Responsive ----- */

@media only screen and (max-width: 640px) {
  #input-searching {
    background-position: calc(50% - 109px);
  }
}

@media only screen and (max-width: 444px) {
  .mobileFull {
    width: 100%;
  }
  #input-searching {
    padding-left: 30px;
    background-position-x: 8px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
